html, body {
	height: 100%;
}

body
{
	font-size: 62.5%;
	background-color: #fff;
}


/* Structure */

#container
{
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

#container
{
	font-family: Arial, sans-serif;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#container #header {
	padding: 0 10px;
}

#container #header #topHat {
	margin-top: 16px;
}

#container #header #topHat #logo {
	float: left;
}

#container #header #topHat #options {
	float: right;
}

#container #header #topHat #options #resourceLinks {
	float: left;
	margin-right: 12px;
}

#container #header #topHat #options #resourceLinks ul {
	float: left;
	display: block;
	height: 11px;
	padding: 5px 0;
	width: 310px;
	background-image: url(../images/borderLinesHeaderHoriztonal.gif);
}

#container #header #topHat #options #resourceLinks ul li {
	float: left;
}

#container #header #topHat #options #resourceLinks ul li a {
	display: block;
	color: #9a7f53;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	padding-right: 20px;
	background-image: url(../images/buttonExternalLink.gif);
	background-position: right;
	background-repeat: no-repeat;
	border-left: 1px solid #9a7f53;
	line-height: 11px;
	padding-left: 16px;
	font-size: 10px;
}

#container #header #topHat #options #resourceLinks ul li a.first {
	border: none 0;
	padding-left: 0;
	margin-right: 12px;
}

#container #header #topHat #options #search {
	float: left;
}

#container #header #topHat #options #search input {
	border: 1px solid #9a7f53;
	font-size: 11px;
	color: #555;
	height: 18px;
	width: 141px;
}

#container #header #topHat #options #search button {
	background-image: url(../images/buttonGo.gif);
	height: 22px;
	width: 22px;
	border: 0 none;
	text-indent: -9999em;
}

#container #header #nav {
	clear: both;
}

#container #header #nav ul {
	float: left;
	margin-top: 40px;
	margin-bottom: 6px;
}

#container #header #nav ul li {
	float: left;
}

#container #header #nav ul li a {
	font-family: Times, serif;
	font-size: 1.2em;
	color: #606060;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 40px;
	letter-spacing: 1px;
	cursor: pointer;
}

#container #header #nav ul li a.dropDown {
	padding-right: 16px;
	background-image: url(../images/iconRaquo.gif);
	background-position: right;
	background-repeat: no-repeat;
}

#container #header #nav ul li a:hover {
	color: #00415f;
}

#container #header #nav ul li a.dropDown:hover {
	background-image: url(../images/iconRaquoDown.gif);
}

#container #header #nav ul li a.first {
	margin-left: 0;
}

#container #hero {
	clear: both;
	position: relative;
	text-align: center;
	height: 340px;

}

#container #hero img {
	position: absolute;
	left: 0;
	top: 7px;
	z-index: 1;
}

#container #hero #heroContent {
	text-align: left;
	position: absolute;
	background-image: url(../images/bgHeroShadow.png);
	background-repeat: no-repeat;
	width: 960px;
	height: 340px;
	background-position: top center;
	z-index: 2;
}

#container #hero #heroContent div.left {
	width: 460px;
	height: 100%;
	float: left;
}

#container #hero #heroContent div.left img {
	margin-left: 53px;
	margin-top: 115px;
}

#container #hero #heroContent div.right {
	color: #fff;
	width: 375px;
	float: left;
}

#container #hero #heroContent div.right h2 {
	font-size: 12px;
	font-family: Times, serif;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 1.0em;
	margin-top: 80px;
	background-image: url(../images/bgHeroH2BottomBorder.gif);
	background-position: bottom;
	padding-bottom: 7px;
	background-repeat: no-repeat;
}

#container #hero #heroContent div.right p {
	font-size: 13px;
	font-family: Arial, sans-serif;
	line-height: 18px;
}

#container #hero #heroContent div.right div.carousel {
	margin-top: 15px;
}

#container #hero #heroContent div.right div.carousel ul {
	float: right;
}

#container #hero #heroContent div.right div.carousel ul li {
	float: left;
}

#container #hero #heroContent div.right div.carousel ul li a {
	width: 12px;
	height: 12px;
	display: block;
	background-repeat: no-repeat;
	background-color: #bbb;
	margin-right: 6px;
	text-indent: -9999em;
	cursor: pointer;
}

#container #hero #heroContent div.right div.carousel ul li a.current {
	background-color: #b2902c;	
}

#container #hero #heroContent div.right div.carousel ul li a:hover {
	background-color: #bcaa8c;
}

#container #hero #heroContent div.right div.carousel ul li a.prev,
#container #hero #heroContent div.right div.carousel ul li a.next {
	background-color: transparent;
	background-image: url(../images/carouselNavArrows.gif);
	width: 6px;
}

#container #hero #heroContent div.right div.carousel ul li a.prev {
	background-position: left;
}

#container #hero #heroContent div.right div.carousel ul li a.next {
	background-position: right;
}

#container #hero #heroContent div.right div.carousel ul li a.prev:hover,
#container #hero #heroContent div.right div.carousel ul li a.next:hover {
	background-image: url(../images/carouselNavArrowsOn.gif);
}

#container #contentColumns {
	clear: both;
	padding-top: 15px;
	background-image: url(../images/bgContentShadowTop.gif);
	background-repeat: no-repeat;
	margin-top: 20px;
	width: 960px;
}

#container #contentColumns #col1 {
	float: left;
	width: 217px;
	background-image: url(../images/bgContentShadowLeft.gif);
	background-repeat: repeat-y;
	background-position: left;
	height: 100%;
}

#container #contentColumns #col2 {
	background-image: url(../images/bgContentShadowRight.gif);
	background-repeat: no-repeat;
	background-position: top right;
	padding-right: 30px;
	margin-left: 251px;
	height: 100%;
}

#container #contentColumns div.bottomCap {
	clear: both;
	background-image: url(../images/bgContentShadowBottom.gif);
	background-repeat: no-repeat;
	height: 15px;
}

#container #contentColumns #col1 div.innerWorkspaceShadow {
	background-image: url(../images/bgInnerLeftColumnShadow.gif);
	background-repeat: no-repeat;
	margin: 12px;
	height: 400px;
	width: 100%;
}

#container #footer {
	margin-top: 10px;
}


/* MODULES */

div.module h2 {
	font-size: 20px;
	font-weight: bold;
	color: #555;
	font-family: Arial, serif;
	padding-bottom: 5px;
	border-bottom: 1px solid #dad1c1;
	display: block;
	margin-bottom: 20px;
}

#col1 div.module {
	margin: 0 20px 25px 25px;
}

#col2 div.module {
	margin: 0px 0px 25px 0px;
	padding-top: 12px;
}

div.module p {
	font-size: 11px;
	color: #555;
	font-family: Arial, serif;
	line-height: 14px;
}

div.module a.more {
	color: #2a72a7;
	text-decoration: none;
	font-size: 12px;
	font-family: Georgia, serif;
	font-style: italic;
	display: block;
	text-align: right;
	margin-top: 1.0em;
}

div.module a:hover {
	text-decoration: underline !important;
}

#SGM1 /*Generic with More*/ {
	
}

#SGM2 /*Updates Listing*/ {
	
}

#SGM2 ul li {
	margin-bottom: 1.0em;
	padding-left: 30px;
}

/* FILE TYPE ICONS */
	#SGM2 ul li.pdf {
		background-image: url(../images/iconPDF.gif);
		background-repeat: no-repeat;
		background-position: 2px left;
	}
	#SGM2 ul li.doc {
		background-image: url(../images/iconDOC.gif);
		background-repeat: no-repeat;
		background-position: 2px left;
	}
/* END */

#SGM2 ul li span {
	color: #555;
	font-size: 11px;
	font-family: Georgia, serif;
	font-style: italic;
}

#SGM2 ul li a {
	color: #2a72a7;
	text-decoration: none;
	font-size: 11px;
	font-family: Arial, sans-serif;
}

#SGM3 /*Channel Listing*/ {

}

#SGM4 /*Footer Links*/ {
	
}

#SGM4 ul {
	margin: 0px 10px;
}

#SGM4 ul li {
	float: left;
}

#SGM4 ul li a {
	display: block;
	margin-right: 2.0em;
	text-decoration: none;
	color: #898888;
	font-family: Arial, serif;
	font-size: 10px;
	letter-spacing: 1px;
}


/* Left Navigation */							
#SGSN1 ul li{
	margin-bottom: 1em;
}

#SGSN1 ul li a{
	text-decoration: none;
	color: #696969;
	text-transform: uppercase;
	font: bold 1.0em arial, sans-serif;
	margin-left: 15px;
}

#SGSN1 ul li a:hover, 
#SGSN1 ul li a:active, 
#SGSN1 a.current{
	color: #00415f;
}

#SGSN1 ul li ul{ 
	margin-top: 1em;
	list-style-type: disc inside none;
}

#SGSN1 ul li ul li{
	margin-bottom: 12px;
	padding-left: 25px;
	list-style: disc inside url("../images/SGSN1Arrow.gif");
}

#SGSN1 ul li ul li.current{
	background: #FFF;
	list-style: disc inside url("../images/SGSN1ArrowOn.gif");
	border-top: 1px solid #f0ede6;
	border-bottom: 1px solid #f0ede6;
	padding: 4px 0 4px 25px;
}

#SGSN1 ul li ul li a{
	font: normal 1.1em arial, sans-serif;
	text-transform: capitalize;
	margin: 0;
}



/* MISC */
div.clear {
	clear: both;
}