html, body {
	height: 100%;
}

body
{
	font-size: 62.5%;
	background-color: #fff;
}


/* Structure */

.left{ float: left; }
.right{ float: right; }
.inline{ display: inline; }

#container
{
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

#container
{
	font-family: Arial, sans-serif;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}


#container.gallery {
	width: 485px;
	padding: 20px;
}

#container #header {
	padding: 0 10px;
}

#container #header #topHat {
	margin-top: 16px;
}

#container #header #topHat #logo {
	float: left;
}

#container #header #topHat #options {
	float: right;
}

#container #header #topHat #options #resourceLinks {
	float: left;
	margin-right: 12px;
}

#container #header #topHat #options #resourceLinks ul {
	float: left;
	list-style: none;
	display: block;
	height: 13px;
	padding: 5px 0;
	width: 310px;
	background-image: url(../images/borderLinesHeaderHoriztonal.gif);
}

#container #header #topHat #options #resourceLinks ul li {
	float: left;
}

#container #header #topHat #options #resourceLinks ul li a {
	display: block;
	color: #9a7f53;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	padding-right: 20px;
	background-image: url(../images/buttonExternalLink.gif);
	background-position: right;
	background-repeat: no-repeat;
	border-left: 1px solid #9a7f53;
	line-height: 12px;
	padding-left: 16px;
	font-size: 10px;
}

#container #header #topHat #options #resourceLinks ul li a.first {
	border: none 0;
	padding-left: 0;
	margin-right: 12px;
}

#container #header #topHat #options #search {
	float: left;
}

#container #header #topHat #options #search input {
	border: 1px solid #cbbda7;
	font-size: 11px;
	color: #555;
	height: 18px;
	width: 130px;
	padding: 2px 2px 0 5px;
}

#container #header #topHat #options #search button {
	background-image: url(../images/buttonGo.gif);
	height: 22px;
	width: 22px;
	border: 0 none;
	text-indent: -9999em;
}

#container #header #nav {
	clear: both;
	position: relative;
}

#container2{
	background: url(../images/bgCol1Repeating.gif) repeat-y;
	background-position: 11px 0;
}

#nav {
	z-index: 110;
}

#nav ul {
	float: left;
	list-style: none;
}

#nav ul li {
	float: left;

}

#container #header #nav ul li a {
	font-family: Times, serif;
	font-size: 1.2em;
	color: #555;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 5px;
	padding: 0 10px 0 15px;
	letter-spacing: 1px;
	border: 1px solid transparent;
	cursor: pointer;
}

#container #header #nav ul li:first-child a {
	margin-left: 0;
	padding-left: 0;
}

#container #header #nav ul li:hover a {
	color: #00415f;
}

#container #header #nav ul li a.first {
	margin-left: 0;
}

#container #header #nav ul li ul {
	font: 11px Arial, sans-serif;
	position: absolute;
	float: none;
	z-index: 100;
	color: #555;
}

#container #header #nav ul li ul li a {
	margin-left: 0;
	line-height: 18px;
	font-size: 11px;
	font-family: Arial, sans-serif;	
	text-transform: capitalize;
	color: #2971a7;
	letter-spacing: normal;

}

/* Dropdown Menu */
#nav #dropDownUL{
	margin-top: 35px;
}

#dropDownUL{
	position: relative;
	z-index: 99;
}

#dropDownUL li{
	padding: 8px 0 5px;
	border: 1px solid #FFF;
}

#container #header #dropDownUL .dropDownLI-level-1{
	background: transparent url(../images/iconRaquo.gif) no-repeat;
	background-position: 91% 9px;
	padding: 8px 20px 5px 10px;
}

#container #header #dropDownUL .dropDownLI-level-1:hover{
	background: url(../images/dropDownChannelsShadow.gif) no-repeat;
	background-position: -1px -1px;
	z-index: 105;
	position: relative;
	border-left: 1px solid #b3c1c9;
}

#container #header #dropDownUL .dropDownLink-level-1{
	padding: 0;
}

#container #header #dropDownUL .dropDownLI-level-1 .shadow{
	margin: 0 10px;
	width: 100%;
}

#container #header #dropDownUL .dropDownLI-level-1:hover .shadow{
	/*background: #f6f3eb url(../images/iconRaquo2.gif) no-repeat;
	background-position: 91% center;*/
}

#container #header #nav ul li.dropDown ul li a {
	background-image: none !important;
}

#container #header #dropDownUL .dropDownLI-level-1:hover .dropDownUL-level-2{
	display: block;
}

#dropDownUL ul.dropDownUL-level-2{
	display: none;
	background: #F6F3EB url("../images/dropDownBG.jpg") repeat-y;
	background-position: -1px top;
	padding: 20px 0 20px 10px;
	border: 1px solid #B3C1C9;
	border-top: 0 none;
	margin: 4px 0 0 0;
	left: -1px;
	width: 498px;
	top: 19px;
}

#dropDownUL ul.dropDownUL-level-2 li{
	color: #555;
	font: bold 1.1em arial, sans-serif;
	display: block;
	left: 276px;
	top: 24px;
	width: 540px;
	width: 22.5%;
	border-left: 1px dotted #B3C1C9; 
	border-right: 0;
	border-top: 0;
	border-bottom: 0;
	padding: 0 0 0 9px;
}

#dropDownUL ul.dropDownUL-level-2 li:first-child{
	border-left: 0;
}

#dropDownUl ul.dropDownUL-level-2 li a{
	color: #555;
	font: bold 1.1em arial, sans-serif;
}

#container #header #dropDownUL ul.dropDownUL-level-3{
	padding-top: 6px;
	position: static;
}

#dropDownUL ul.dropDownUL-level-3 li{
	float: none;
	padding: 3px 0;
	width: 100%;
	left: 0;
	border: 0;
}

#container #header #nav #dropDownUL ul.dropDownUL-level-3 li a{
	font: normal 0.9em arial, sans-serif;
	color: #2971a7;
	padding: 0 0 0 10px;
	background-image: url("../images/dropdownArrowSm.gif") !important;
	background-repeat: no-repeat;
	background-position: 0 50%;
}

#container #header #nav #dropDownUL ul.dropDownUL-level-3 li a:hover {
	text-decoration: underline;
}

#SGH1 /* SGH1 - Full hero */ {

	clear: both;
	position: relative;
	text-align: center;
	height: 340px;

}

#SGH1 img {
	position: absolute;
	left: 12px;
	top: 7px;
	z-index: 1;
}

#SGH1 img.bgHero {
	display: none;
}

#SGH1 img.bgHero.current {
	display: block;
}

#SGH1 #heroContent {
	text-align: left;
	position: relative;
	background-image: url(../images/bgHeroShadow.png);
	background-repeat: no-repeat;
	width: 960px;
	height: 340px;
	background-position: top center;
	z-index: 2;
}

#SGH1 #heroContent div.left {
	width: 480px;
	height: 100%;
	float: left;
}

#SGH1 #heroContent div.left img {
	margin-left: 60px;
	margin-top: 85px;
	display: none;
}

#SGH1 #heroContent div.left img.current {
	display: block;
}

#SGH1 #heroContent div.right {
	color: #fff;
	width: 376px;
	left: 480px;
	height: 179px;
	float: left;
	padding: 10px;
	margin-top: 73px;
	background-color: rgba(0,0,0,.6);
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='images/bgHeroText.png');
}

#SGH1 #heroContent div.transparent {
	background-color: transparent;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='images/bgHeroTextTransparent.png');
}

#SGH1 #heroContent div.right span {
	font-size: 12px;
	font-family: Times, serif;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 0.5em;
	margin-top: 0px;
	background-image: url(../images/bgHeroH2BottomBorder.gif);
	background-position: left bottom;
	padding-bottom: 2px;
	background-repeat: no-repeat;
}

#SGH1 #heroContent div.right p {
	font-size: 13px;
	font-family: Arial, sans-serif;
	line-height: 18px;
	display: none;
}

#SGH1 #heroContent div.right p.current {
	display: block;
}

#SGH1 #heroContent div.right p.current span {
	display: block;
}


#SGH1 #heroContent div.right a.more {
	font-size: 12px;
	font-family: Georgia, serif;
	color: #FFFFFF;
	text-decoration: none;
	font-style: italic;
	display: block;
	text-align: right;
}

#SGH1 #heroContent div.right a.more:hover {
	text-decoration: underline;
}

#SGH1 #heroContent div.right div.carousel {
	position: absolute;
	top: 250px;
	right: 91px;
}

#SGH1 #heroContent div.right div.carousel ul {
	float: right;
	list-style:none outside none;
}

#SGH1 #heroContent div.right div.carousel ul li {
	float: left;
}

#SGH1 #heroContent div.right div.carousel ul li a {
	width: 12px;
	height: 12px;
	display: block;
	background-repeat: no-repeat;
	background-color: #bbb;
	margin-right: 6px;
	text-indent: -9999em;
	cursor: pointer;
}

#SGH1 #heroContent div.right div.carousel ul li a.current {
	background-color: #b2902c;	
}

#SGH1 #heroContent div.right div.carousel ul li a:hover {
	background-color: #bcaa8c;
}

#SGH1 #heroContent div.right div.carousel ul li a.prev,
#SGH1 #heroContent div.right div.carousel ul li a.next {
	background-color: transparent;
	background-image: url(../images/carouselNavArrows.gif);
	width: 6px;
}

#SGH1 #heroContent div.right div.carousel ul li a.prev {
	background-position: left;
}

#SGH1 #heroContent div.right div.carousel ul li a.next {
	background-position: right;
}

#SGH1 #heroContent div.right div.carousel ul li a.prev:hover,
#SGH1 #heroContent div.right div.carousel ul li a.next:hover {
	background-image: url(../images/carouselNavArrowsOn.gif);
}


#SGH2 /* SGH2 - Mini hero */ {
	position: relative;
	width: 960px;
	height: 70px;
	clear: both;
	left: 3px;
}

#SGH2 img {
	position: absolute;
	text-align: center;
	top: 0px;
}

#SGH2 img.overlay {
	left: 16px;
	top: 17px;
	z-index: 1;
}

#SGH2 img.overlay2{	/* for second overlay text, which is shorter */
	left: 20px;
	top: 21px;
	z-index: 1;
}

#SGH3 /* SGH3 - Medium hero */ {
	width: 960px;
	height: 174px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

#container #contentColumns {
	clear: both;
	background-image: url(../images/bgContentShadowLeftAndRight.gif);
	background-position: 1px top;
	width: 100%;
	background-repeat: repeat-y;
	margin-top: 20px;
	width: 960px;
}

#container #contentColumns #col1 {
	float: left;
	width: 212px;
	background-position: right top;
}

#container #contentColumns #col2.fullRail {
	width: 860px;
	float: none;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}


#container #contentColumns #col2 {
	margin-top: 15px;
	padding-right: 30px;
	margin-left: 252px;
}

#contentColumns #container2 #col2{
	padding: 25px 0 0 40px;
	margin-top: 0;
	width: 665px;
	margin-left: 0;
	float: left;
}

#container #contentColumns #col2.middleRail {
	float: left;
	margin-left: 30px;
	width: 460px;
	padding-right: 20px;
	background-image: none;
}

#container #contentColumns #col3 {
	float: left;
	width: 215px;
}

#container #contentColumns div.topCap {
	clear: both;
	background-image: url(../images/bgContentShadowTop.gif);
	background-repeat: no-repeat;
	height: 15px;
}

#container #contentColumns.bgRepeating div.topCap {
	background-image: url(../images/bgContentShadowTopRepeating.gif);
}

#container #contentColumns div.bottomCap {
	clear: both;
	background-image: url(../images/bgContentShadowBottom.gif);
	background-repeat: no-repeat;
	height: 15px;
}

#container #contentColumns.bgRepeating div.bottomCap {
	background-image: url(../images/bgContentShadowBottomRepeating.gif);
}

#container #contentColumns #col1 div.innerWorkspaceShadow,
#container #contentColumns #col3 div.innerWorkspaceShadow {
	background-image: url(../images/bgInnerRightColumnShadow.gif);
	background-repeat: no-repeat;
	margin: 17px 0 0 12px;
	height: 100%;
	min-height: 600px;
	width: 100%;
}

#container #contentColumns.bgRepeating #col1 div.innerWorkspaceShadow {
	background-image: url(../images/bgCol1Repeating.gif);
	background-repeat: repeat-y;
	background-position: right middle;
	margin: 0 0 0 11px;
	width: 212px;
	padding-top: 15px;
}

#container #contentColumns #col3 div.innerWorkspaceShadow {
	background-image: url(../images/bgInnerLeftColumnShadow.gif);
	background-position: top left;
}

#container #footer {
	margin-top: 10px;	
}


/* MODULES */

div.module h2 {
	font-size: 20px;
	font-weight: bold;
	color: #555;
	font-family: Arial, serif;
	padding-bottom: 5px;
	border-bottom: 1px solid #dad1c1;
	display: block;
	margin-bottom: 20px;
	line-height: 20px;
}

#col2.middleRail div.module h2 {
	color: #00415f;
}

div.module h3 {
	color: #00415f;
	font-size: 17px;
	font-weight: bold;
	font-family: Arial, serif;
	padding-bottom: 5px;
	border-bottom: 1px solid #dad1c1;
	display: block;
	margin-bottom: 20px;
}

div.module h3.noUnderline {
	margin-bottom: 0;
	border-bottom: none 0;
}

#col2.middleRail div.module h3 {
	color: #555;
}

div.module h4 {
	color: #555;
	font-size: 10px;
	font-weight: bold;
	font-family: Arial, serif;
	letter-spacing: 2px;
	display: block;
	margin-bottom: 1.0em;
	text-transform: uppercase;
}

div.module h5 {
	font-size: 12px;
	font-family: Arial, serif;
	display: block;
	line-height: 16px;
	font-weight: bold;
	color: #555;
	margin-bottom: 1.0em;
}




#col1 div.module {
	margin: 0 20px 25px 25px;
}

#col2 div.module {
	margin: 0px 0px 25px 0px;
}

#col3 div.module {
	margin: 0 24px 25px 20px;
}

div.module p {
	font-size: 11px;
	color: #555;
	font-family: Arial, serif;
	line-height: 14px;
	margin-bottom: 1.0em;
}

div.module ul li {
	padding-left: 1.0em;
	font-size: 12px;
}

#col2 div.module p {
	font-size: 12px;
	line-height: 16px;
}

#col2 div.module p img {
	float: left;
	margin-right: 2.0em;
	margin-bottom: 2.0em;
}

div.module a {
	color: #2a72a7;
	text-decoration: none;
	cursor: pointer;
}

div.module a.more {
	font-size: 12px;
	font-family: Georgia, serif;
	font-style: italic;
	display: block;
	text-align: right;
}

div.module a.more.inline {
	display: inline;
}

div.module a:hover {
	text-decoration: underline !important;
}

.SGM1 /*Generic with More*/ {

}

.SGM1 ul {
	margin: 1.0em 0 1.0em 1.0em;
}

.SGM1 ul li {
	list-style: inside url(../images/iconRaquoGeneric.gif);
}

.SGM1 ul li a {
	font-size: 11px;
	line-height: 14px;
}

.SGM1 dl.dotted{
	background-image: url(../images/bgDottedBorderTop.gif);
	background-position: right top;
	background-repeat: no-repeat;
	padding: 0.8em 0 0.5em 0;
	margin-top: 0.6em;
}

.SGM1 dl.dotted dt{
	color: #555555;
	font: 1.2em "Times", serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-bottom: 0.9em;
}

.SGM1 dl.dotted dd{
	border-left: 1px solid #2A72A7;
	float: left;
	padding-left: 0.9em;
	margin-left: 0.9em;
	font-size: 1.1em;
}

.SGM1 dl.dotted dd.first{
	border: none;
	padding-left: 0;
	margin-left: 0;
}

#SGM2 /*Updates Listing*/ {
	
}

#SGM2 ul {
	list-style: none;
}

#SGM2 ul li {
	margin-bottom: 1.0em;
	padding-left: 30px;
}

/* FILE TYPE ICONS */
	#SGM2 ul li.pdf {
		background-image: url(../images/iconPDF.gif);
		background-repeat: no-repeat;
		background-position: 2px left;
	}
	#SGM2 ul li.doc {
		background-image: url(../images/iconDOC.gif);
		background-repeat: no-repeat;
		background-position: 2px left;
	}
/* END */

#SGM2 ul li span {
	color: #555;
	font-size: 11px;
	font-family: Georgia, serif;
	font-style: italic;
}

#SGM2 ul li a {
	color: #2a72a7;
	text-decoration: none;
	font-size: 11px;
	font-family: Arial, sans-serif;
}

#SGM3 /*Channel Listing*/ {

}

#SGM4 /*Footer Links*/ {
	margin-bottom: 10px;
}

#SGM4 ul {
	margin: 0px 10px;
	list-style: none;
}

#SGM4 ul li {
	float: left;
}

#SGM4 ul li a {
	display: block;
	margin-right: 2.0em;
	text-decoration: none;
	color: #898888;
	font-family: Arial, serif;
	font-size: 10px;
	letter-spacing: 1px;
}

#SGM5 /*Quick Links*/ {
	
}

#SGM5 ul {
	margin: 0;
}

#SGM5 ul li {
	list-style: inside url(../images/iconRaquoGeneric.gif);
}

#SGM5 ul li a {
	font-size: 12px;
	line-height: 18px;
}

#SGM6 /* Alphabetical Listing Module */ {
}

#SGM6 div.letter {
	margin:1.0em 0;
}


#SGM6 p.default {
	margin-left: 10px;
	font-style: italic;
	font-size: 11px;
}

#SGM6 div.letter p {
	
}

#SGM6 div.letter ul {
	padding:0;
	margin-top:1.0em;
	margin-left:1.0em;
	
}

#SGM6 div.letter ul li {
	margin-bottom:0.8em;
	list-style: inside url(../images/iconRaquoGeneric.gif);
}

#SGM6 div.letter ul li.selected {
	background-color: #f4f1ec;
	padding: 10px;
	margin-left: -10px;
}

#SGM6 div.letter ul li.selected a {
	/*color: #555 !important;*/
}

#SGM6 div.letter ul li p {
	display: none;
}

#SGM6 div.letter ul li.selected p {
	display: block;
	margin-top: 10px;
	margin-left: 12px;
	margin-bottom: 0px;
}

#SGM6 div.letter ul li a {
	font-size:12px;
}

#SGM6 div.letter a {
	margin:0;
}

#SGM6 div.letter a.pointer {
	font-size: 13px;
	cursor: default;
	font-weight: bold;
	color: #555;
	margin-left: 10px;
}

#SGM6 div.letter a.pointer:hover {
	text-decoration: none !important;
}

#SGM6 div.letter .top {
	text-align:right;
	display:block;
	font-size:1.0em;
	font-weight:normal;
	margin:0;
}

#SGM6 .alphabeticalNav ul {
	margin:0;
	padding:0;
	background-color:#f4f1ec;
	height:30px;
	line-height:30px;
	font-weight:bold;
	font-size:1.3em;
	margin:20px 0;
	list-style:none;
}

#SGM6 .alphabeticalNav ul li {
	float:left;
	padding-left: 0em;
}

#SGM6 .alphabeticalNav ul li a {
	padding:0 8px 0 8px;
}

#SGLM1 /*Layout Module 1 (Big Left Column)*/ {
	
}

#SGLM1 div.col1 {
	float: left;
	width: 480px;
}

#SGLM1 div.col1 p img { 
	margin-right: 0;
	float: none;
	margin-bottom: 0;
}

#SGLM1 div.col1 ul {
	color: #555;
	line-height: 16px;
	margin-bottom: 1.0em;
}

#SGLM1 div.col1 div.left {
	float: left;
	width: 220px;
	margin-right: 20px;
}

#SGLM1 .topMargin20 {
	margin-top: 20px;
}

#SGLM1 h3.topMargin {
	margin-top: 30px;
}

#SGLM1 div.col1 div.resourcePrintDiv h3 {
	margin-top: 0;
}

#SGLM1 div.col2 {
	margin-left: 490px;
	width: 180px;
}

#SGLM3 /*Layout Module 3 (Big Left Column in Single Column Layout)*/ {
	
}

#SGLM3 div.col1 {
	float: left;
	width: 740px;
}

#SGLM3 div.col2 {
	margin-left: 760px;
	width: 120px;
}



#SGSN1 /* Left Navigation - module SGSN1 */	{

}
	
#SGSN1 ul {
	list-style: none;
}	
						
#SGSN1 ul li{
	margin-bottom: 1em;
}


/* first level links */
#SGSN1 ul li a{								
	text-decoration: none;
	color: #696969;
	text-transform: uppercase;
	font: 1.0em arial, sans-serif;
	font-weight: bold;
	margin-left: 15px;
}

#SGSN1 ul li.headline a {
	margin-left: 15px;
	font-family: Times, serif;
	font-weight: normal;
	color: #00415f;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 18px;	
	border-bottom: 2px solid #b8c7cb;
	
}

/* turn link blue */
#SGSN1 ul li a:hover, 
#SGSN1 ul li a.active, 
#SGSN1 a.current{						
	color: #00415f;
	cursor: pointer;
}

#SGSN1 ul li a.active {
	background: #FFF;
	border-top: 1px solid #F0EDE6;
	border-bottom: 1px solid #F0EDE6;
	margin-top: -4px;
	margin-left: 0px;
	margin-bottom: -4px;
	margin-right: 3px;
	display: block;
	padding: 3px 0 3px 15px;
}

#SGSN1 ul li ul{ 
	margin-top: 1em;
}


/* second level links */
#SGSN1 ul li ul li a{
	background: transparent url("../images/SGSN1Arrow.gif") no-repeat;
	background-position: 22px center;
	font: normal 1.1em arial, sans-serif;
	text-transform: capitalize;
	padding-left: 32px;
	margin: 0;
}

#SGSN1 ul li ul li a.active {
	background: #FFF url("../images/SGSN1Arrow.gif") no-repeat;
	background-position: 22px center;
	border-top: 1px solid #F0EDE6;
	border-bottom: 1px solid #F0EDE6;
	margin-top: -4px;
	margin-left: 0px;
	margin-bottom: -4px;
	display: block;
	padding: 3px 0px 3px 32px;
}

#SGSN1 ul li ul li ul li a {
	background-position: 37px center;
	padding-left: 47px;
	margin: 0;
}

#SGSN1 ul li ul li ul li a.active {
	background: #FFF url("../images/SGSN1Arrow.gif") no-repeat;
	background-position: 37px center;
	border-top: 1px solid #F0EDE6;
	border-bottom: 1px solid #F0EDE6;
	margin-top: -4px;
	margin-left: 0px;
	margin-bottom: -4px;
	display: block;
	padding: 3px 0 3px 47px;	
}

#SGSN1 ul li ul li ul li ul li a {
	background: none !important;
	border-top: none !important;
	border-bottom: none !important;
	padding-left: 72px;
}

#SGSN1 ul li ul li ul li ul li a.active {
	background: none !important;
	border-top: none !important;
	border-bottom: none !important;
	margin-bottom: 0 !important;
	padding-left: 57px;
	color: #696969;
}



#SGSN1 ul li ul li ul li ul li a:hover {
	background: none;
	color: #00415f;
}

/* third level links and below */
#SGSN1 li.current li.current li.current a {
	background: none;
	border: none;
}
#SGN2 /*Channel Listing Links*/ {
	
}

#SGN2 dl {
	padding-bottom: 20px;
	margin-bottom: 20px;
	background-image: url(../images/bgSGSN2Bottom.gif);
	background-repeat: no-repeat;
	background-position: bottom;
}

#SGN2 dl.last {
	background-image: none;
	padding-bottom: 0;
}

#SGN2 dl dt {
	font-family: Times, serif;
	color: #555;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 18px;
}

#SGN2 dl dd a {
	color: #2971a7;
	font-family: Arial, serif;
	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
	padding-left: 12px;
	background-image: url(../images/iconRaquoSGN2.gif);
	background-position: 4px left;
	background-repeat: no-repeat;
}

/* Resources and Print buttons */
.resourcePrintDiv{
	height: 21px;
	border-bottom: 1px solid #DAD1C1;
	margin-bottom: 20px;
}

#col2 div.module .resourcePrintDiv h1{
	color: #555;
	font: bold 20px arial, sans-serif;
	line-height: 20px;
	margin: 0;
	padding-bottom: 20px;
}

#col2 div.module .resourcePrintDiv h3{
	border-bottom: none;
}

#col2 div.module .resourcePrintDiv h3.blue{
	color: #2A72A7;
}

#col2 div.module .resourcePrintDiv h2{
	border: none;
	margin: 0;
}	

.resourcePrintDiv #btnresources{
	background: url(../images/buttonresources.gif) no-repeat;
	height: 15px;
	width: 85px;
}

.resourcePrintDiv #btnprint{
	background: url(../images/buttonprint.gif) no-repeat;
	height: 15px;
	width: 60px;
}

.resourcePrintDiv .button{
	color: #555;
	float: right;
	font: 1.0em arial, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	padding: 4px 0 0 8px;
	display: block;
}

div.module .resourcePrintDiv #btnresources:hover, div.module .resourcePrintDiv #btnprint:hover{
	background-position: 0 -22px;
	color: #827150;
	text-decoration: none !important;
	text-transform: uppercase;
	padding: 4px 0 0 8px;
}
/* Module Gallery - Global Modules Table */
.modulesTable{
	width: 100%;
	margin-top: 2.5em;
}

.modulesTable tr th{
	background: #eae9e5;
	color: #525252;
	font: bold 1.5em arial, sans-serif;
	vertical-align: middle;
	padding: 5px 10px 4px;
}

.modulesTable tr td{
	font: 1.1em arial,sans-serif;
	padding: 10px;
	color: #525252;
	border-bottom: 1px solid #EAE9E5;
}

div.module .modulesTable a{
	color: #1460ed;
	text-decoration: none;
}

.modulesTable .row2 td{
	padding-top: 20px;
}

.modulesTable .col1 a{
	font: bold 1.1em arial, sans-serif;
}

.modulesTable .col2{
	width: 53%;
}

.modulesTable .col3{
	width: 24%;
	color: #525252;
}

.modulesTable .col3 a{
	font-size: 1.0em;
}

.modulesTable .border{
	border-right: 5px solid #FFFFFF;
}

/* Table styles for "optimizing photos for web" section */
.photosTable{
	width: 70%;
}

.photosTable tr{}
.photosTable th, .photosTable td{
	color: #525252;
	font: bold 1.2em arial, sans-serif;
}
.photosTable th{
	border-bottom: 1px solid #525252;
	padding: 0 0 3px;
}
.photosTable td{

}
.photosTable .col1{
	border-right: 1px solid #525252;
	padding: 2px 5px 2px 0;
	width: 20%;
}

.photosTable .col2{
	padding: 0 0 0 10px;
}

/* Start SGM6 - Channels Section */
#SGM6-div{
	margin-bottom: 55px;
}

#SGM6-div h2{
	border-bottom: 1px solid #DAD1C1;
	color: #555;
	font: bold 20px arial, sans-serif;
	margin: 25px 0 20px 0;
}

#SGM6-div h2:first-child{
	margin-top: 0;
}

.channel-thumb-div{
	float: left;
	width: 18%;
}

.channel-dl{
	float: left;
	width: 20%;
}

.channel-dl dt{
	text-transform: uppercase;
	font: 1.2em "Times New Roman", serif;
	color: #606060;
	padding-bottom: 8px;
	letter-spacing: 1px;
}

.channel-dl dt span{
	border-bottom: 2px solid #d7d7d7;
}

.channel-dl dd{
	padding: 1px 0 2px 10px;
}

.channel-dl dd{
	background: url("../images/arrowblue.gif") no-repeat;
	background-position: left center;
}

.channel-dl dd a{
	text-decoration: none;
	font: 1.2em arial, sans-serif;
	color: #2971a7;
}

.channel-dl dd a:hover{
	text-decoration: underline;
}

/* End SGM6 - Channels Section Style */

/* Begin SGLM2 - Grids Section */

#col2 div#SGLM2{
	padding-bottom: 25px;
	margin-bottom: 0;
}

#SGLM2 .col1{
	width: 191px;
	float: left;
}

#SGLM2 .col2{
	width: 430px;
	float: right;
}

#SGLM2 h3{
	margin-top: 30px;
}

#SGLM2 h3:first-child{
	margin-top: 0;
}

#col2 div#SGLM2 p {

}

/* End SGLM2 - Grids Section */


#SGGI1 /* Gallery Image */{
	height: 460px;
	text-align: center;
}

#SGGI1 img {
	vertical-align: middle;
	display: none;
}

#SGGI1 img.current {
	display: block;
}

#SGGN1 /* Gallery Nav */ul {
	float: left;
	list-style: none;
}

#SGGN1 ul li {
	float: left;
	padding-left: 0;
}

#SGGN1 ul li a {
	margin-right: 1.0em;
	padding-right: 1.0em;
	border-right: 1px solid #555;
}

#SGGN1 ul li.last a {
	margin-right: 0;
	padding-right: 0;
	border: none 0;
}

/* Begin General Styles for Content */
.bold{
	font-weight: bold;
}

a.arrow{
	background: url("../images/arrowblue.gif") no-repeat;
	background-position: left center;
	padding-left: 10px;
}

a.blue, .blue{
	color: #2a72a7;
}

.align-right, #container .module div.align-right{ text-align: right; }
.align-left, #container .module div.align-left{ text-align: left; }
.align-center, #container .module div.align-center{ text-align: center; }

div.dotted{
	border-top: 1px dotted #c2a993;
	padding-top: 20px;
	margin-top: 20px;
}

.text-column{
	width: 80%;
}

#container #col2 div.text-column p{
	font-size: 1.2em;
}

.text-column .left{
	width: 55%;
	text-align: left;
}

.text-column .right{
	width: 50%;
}

.text-column h4{
	margin-bottom: 8px;
	font-size: 1.2em;
}

.text-column h4.uppercase{
	text-transform: uppercase;
	font: bold 1.0em arial, sans-serif;
}

.title-spacing{
	margin-top: 35px;
}

/* End General Styles for Content */


/* Begin Cotent Page specific styles */

/* GW_Styleguide_Web_Photography.PSD */
#photobrand-div .left{
	width: 40%;
	text-align: left;
}

#photobrand-div .right{
	width: 55%;
	text-align: right;
}

#photobrand-div ul.disc li{
	font-size: 1.2em;
	padding: 3px 0;
	line-height: 1.4em;
}

#photobrand-div p{
	font-size: 1.2em;
}

/* GW_Styleguide_Brand_logos.PSD */

#logos-div{
	padding-bottom: 25px;
}

#logos-div a.arrow{
	font-size: 1.2em;
	margin-left: 25px;
}

#logos-div .left{
	width: 43%;
}

#logos-div .left p{
	margin: 0;
}

#logos-div .right{
	text-align: left;
	width: 53%;
}

#logos-div h4{
	font: bold 1.2em arial, sans-serif;
	padding-bottom: 6px;
	color: #2a72a7;
}

/* GW_Styleguide_Brand_Typefaces.PSD */
#typo-div{
	padding-bottom: 25px;
}

#typo-div h4{
	text-transform: uppercase;
	font-size: 1.0em;
	padding-bottom: 15px;
}

#typo-div .arrow{
	font-size: 1.2em;
}

#typo-div .more{
	padding-top: 5px;
}

/* GW_Styleguide_GWSchoolWordmarks.PSd */
#wordmarks-div{

}

#wordmarks-div ul.disc{
	margin: 5px 0 5px 14px;
}

#wordmarks-div ul.disc li{
	font-size: 1.2em;
	list-style: disc outside none;
	line-height: 1.3em;
	padding: 0 0 3px 0;
}

#wordmarks-div h4{
	text-transform: uppercase;
	font: bold 1.0em arial, sans-serif;
	margin: 20px 0 15px;
}

/* GW_Styleguide_GWWordmarkSystem - GW Wordmark System Page */

#wordmarksys-div .dotted .left{
	width: 41%;
}

#wordmarksys-div .dotted .right{
	text-align: left;
}

#wordmarksys-div .extrapad{
	padding-top: 25px;
}

/* GW_Styleguide_ImproperUseofTheGWSchoolWordmarks */
#improperwm-div h4{
	text-align: left;
	text-transform: uppercase;
	font: bold 1.0em arial, sans-serif;
	margin: 20px 0 15px;
}	

#improperwm-div h4.short{
	width: 165px;
}

#improperwm-div .left{
	width: 50%;
}

#improperwm-div .right{
	width: 42%;
}

#improperwm-div ul.disc li{
	font-size: 1.2em;
	line-height: 1.3em;
	padding: 0 0 3px 0;
}

#improperwm-div div.dotted{
	margin-top: 10px;
}

#improperwm-div .extrapad{
	padding: 20px 43px 0 43px;
}

/* GW_Styleguide_ImproperUseoftheGWWordmark */
#impropergwm-div .left{
	width: 33%;
	text-align: center;
}

#impropergwm-div .left-2col{
	width: 70%;
	text-align: center;
}

#impropergwm-div ul.disc li{
	font-size: 1.2em;
	line-height: 1.3em;
	padding: 0 0 15px 0;
}

#impropergwm-div h4.uppercase{
	text-align: left;
	padding: 11px 0 0 18px;
	width: 145px; /* make width same as images */
}

/* End Content Page-specific styles */


/* MISC */
.red {
	color: #830606 !important;
	font-size: 11px !important;
	margin-top: 1.0em;
}

div.clear {
	clear: both;
}

strong, b {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

u {
	text-decoration: underline;
}


hr {
	background-image: url(../images/bgLetterDottedUnderline.gif);
	border: none 0;
	height: 1px;
	display: block;
	margin: 20px 0;
	clear: both;
}

ul {
	list-style: disc inside;
}

ul.raquo {
	list-style: inside url(../images/iconRaquoGeneric.gif);
	line-height: 16px;
}