#SGM2 ul li {
	text-indent: -15px;
}

#nav #dropDownUL{
	left: -364px;
}

#dropDownUL ul.dropDownUL-level-3 li:first-child{
	padding-left: 0px;
}

#dropDownUL ul.dropDownUL-level-3 li {
	margin-left: -16px;
}

#SGSN1 ul li ul li a.active {
	background-position: 38px center;
}

#SGSN1 ul li ul li ul li a.active {
	background-position: 53px center;
}

#container #header #nav {
	clear: none;
	position: relative;
	
}
